body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
  color: #000000;
}

h1,
h2 {
  font-family: "Gilroy ExtraBold", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: normal;
  color: #000000;
}
