@font-face {
font-family: 'Gilroy';
src: local('Gilroy Light'), local('Gilroy-Light'),
url('../fonts/Gilroylight.woff2') format('woff2');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Gilroy';
src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
url('../fonts/Gilroyextrabold.woff2') format('woff2');
font-weight: 800;
font-style: normal;
}

body {
  min-width: 1200px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
}

h1,
h2 {
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.7px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.index-bg::after {
  content: "";
  position: absolute;
  top: 1242px;
  left: 0;
  background-color: #e6e6e6;
  width: 100%;
  height: 288px;
  z-index: -100;
}

/*==========================HEADER====================*/
.main-header {
  position: relative;
  height: 211px;
}

.main-header a {
  color: #000;
  text-decoration: none;
}

.main-header-layout {
  display: flex;
  width: 1040px;
  justify-content: space-between;
  margin: 0 auto;
}

/*==yellow block_1===*/
.main-header::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0px;
  width: 1160px;
  height: 300px;
  background-color: #ffe294;
  z-index: -1000;
}

/*============LEFT HEADER=============*/
/*====================================*/
.container-left {
  position: relative;
  width: 340px;
}

/*======logo=====*/
.header-logo img {
  margin-top: 21px;
  margin-bottom: 19px;
}

.header-logo::before {
  content: "";
  position: absolute;
  top: 21px;
  left: px;
  width: 163px;
  height: 36px;
  background: url("../img/logo-sprite.png") no-repeat -15px -15px;
  cursor: pointer;
  display: none;
}

.header-logo:hover::before {
  display: block;
}

.header-logo:active::before {
  display: block;
  background-position: -15px -81px;
}

/*======search=====*/
.search {
  position: relative;
  display: inline-block;
  width: 260px;
  padding: 5px 0;
  padding-left: 40px;
  margin-bottom: 35px;
  border: none;
  background: transparent;
  opacity: 0.3;
}

.container-left form::before {
  content: "";
  position: absolute;
  top: 91px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: transparent url("../img/icon-sprite.png") no-repeat -181px -115px;
  z-index: 1000;
}

.find {
  position: absolute;
  top: 71px;
  right: 0;
  width: 80px;
  height: 45px;
  font: inherit;
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
  display: none;
}

.search:hover {
  opacity: 0.6;
}

.container-left input[type="search"]:focus {
  border-bottom: 2px solid black;
  opacity: 1;
  outline: none;
}

.container-left input[type="search"]:focus ~ .find {
  display: block;
}

.find:hover {
  color: #fff;
  background-color: #000;
  outline: none;
}

.find:active {
  color: #6a6a6a;
  background-color: #000;
}

/*===============MENU================*/
.main-menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 231px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background: transparent url("../img/icon-sprite.png") no-repeat -181px -79px;
}

.main-menu > li {
  position: relative;
  padding-bottom: 50px;
}

.main-menu > li > a {
  font-size: 18px;
  letter-spacing: 3.5px;
  color: #000;
  font-family: "Gilroy ExtraBold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-menu {
  display: inline-block;
  width: 600px;
  height: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu a {
  line-height: 35px;
}

.sub-menu li {
  display: inline-block;
  vertical-align: top;
}

.col-1 {
  width: 200px;
  margin-top: -10px;
  margin-right: 34px;
  padding-left: 62px;
}

.col-2 {
  width: 180px;
  margin-top: -10px;
  margin-right: 17px;
}

.col-3 {
  width: 180px;
  margin-top: -10px;
}

.col-1 > ul {
  margin: 0;
  padding: 0;
}

.col-2 > ul {
  margin: 0;
  padding: 0;
}

.col-3 > ul {
  margin: 0;
  padding: 0;
}

/*===catalog-open===*/
.main-menu > li > a:hover,
.sub-menu a:hover {
  opacity: 0.6;
}

.main-menu:hover::after {
  opacity: 0.2;
}

.main-menu > li > a:active,
.sub-menu a:active {
  opacity: 0.3;
}

.main-menu:active::after {
  opacity: 0.1;
}

/*======yellow thing_2=======*/
.main-menu .sub-menu {
  position: absolute;
  top: 59px;
  left: -60px;
  width: 1160px;
  height: 132px;
  list-stile: none;
  background-color: #ffe280;
  z-index: 1000;
  display: none;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

/*============RIGHT HEADER=============*/
/*==========user-block=======*/
.container-right {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 40px;
}

.user-block {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  margin-bottom: 35px;
}

.user-block-right {
  display: flex;
  justify-content:space-between;
  width: 220px;
}

.user-block a {
  position: relative;
}

.user-block a::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  width: 13px;
  height: 12px;
}

.user-block a:hover,
.user-block a:hover::after {
  opacity: 0.6;
}

.user-block a:active,
.user-block a:active::after {
  opacity: 0.3;
}

.login {
  padding-left: 28px;
}

.login::after,
.user::after {
  background: url("../img/icon-sprite.png") no-repeat -119px -122px;
}

.user {
  padding-left: 24px;
}

.user-block .active {
  opacity: 0.3;
}

.compare {
  margin-left: 7px;
  padding-left: 21px;
}

.compare::after {
  background: url("../img/icon-sprite.png") no-repeat -42px -121px;
}

.cart {
  padding-left: 23px;
}

.cart::after {
  background: url("../img/icon-sprite.png") no-repeat -10px -122px;
}


/*=================header-navigation====================*/
.header-navigation ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation li {
  margin-right: -3px;
}

.header-navigation li:first-child {
  margin-right: -72px;
}

.header-navigation a {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover {
  opacity: 0.6;
}

.navigation a:active {
  opacity: 0.3;
}

/*===============SLIDER-1================*/
/*=======================================*/

.slider {
  position: relative;
  width: 1160px;
  height: 508px;
  margin-bottom: 100px;
}

.slider-img {
  margin-left: 91px;
  margin-top: -33px;
}

.bracelet img {
  margin: 0;
  margin-top: -20px;
  margin-left: 117px;
}

.quadrocopter img {
  margin-top: 32px;
  margin-left: 32px;
}

.slider-description {
  position: relative;
  width: 580px;
  padding-left: 20px;
}

.slider-description::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 41px;
  width: 100px;
  height: 7px;
  background-color: #fff;
  z-index: 10;
}

.slider-description h2 {
  margin-top: 46px;
  margin-bottom: 0;
  padding-left: 16px;
}

.quadrocopter h2 {
  padding-left: 17px;
}

.slider-description p {
  margin: 19px 90px 69px 20px;
  padding-bottom: 70px;
}

.slider-num {
  position: absolute;
  font-size: 179.2px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #fff;
  z-index: -10;
}

.num-1 {
  top: 29px;
  right: 47px;
}

.num-2 {
  top: 28px;
  right: 49px;
}

.num-3 {
  top: 28px;
  right: 50px;
}


/*=====controllers===================*/
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-bullets {
  position: absolute;
  top: 346px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 10px;
  text-align: center;
  z-index: 1000;
}

.slider-bullets label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  border: 3px solid #000;
  border-radius: 50%;
  opacity: 0.3;
  background-color: transparent;
  cursor: pointer;
}

.slider-bullets label:hover {
  opacity: 0.4;
}

.slider-bullets label:active {
  opacity: 1;
}

#selfi:checked ~ .slider-bullets label[for="selfi"],
#fitnes:checked ~ .slider-bullets label[for="fitnes"],
#laser:checked ~ .slider-bullets label[for="laser"] {
  opacity: 1;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  overflow: hidden;
}

.slider-item {
  display: none;
}

#selfi:checked ~ .slides .slider-item:nth-child(1) {
  display: flex;
}

#fitnes:checked ~ .slides .slider-item:nth-child(2) {
  display: flex;
}

#laser:checked ~ .slides .slider-item:nth-child(3) {
  display: flex;
}


/*=====features table===================*/
.item-features {
  margin-left: 18px;
}

.item-features thead {
  font-size: 36px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
}

.item-features tbody {
  font-size: 13px;
  font-height: 20px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #444;
}

.item-features td {
  padding-right: 76px;
  padding-bottom: 9px;
}

.quadrocopter td {
  padding-right: 45px;
}

/*=====button===================*/
.btn-place {
  position: relative;
  width: 200px;
}

.btn {
  position: absolute;
  top: -110px;
  left: 2px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  z-index: 0;
}

.btn-place span {
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 1;
}

.slider-description .btn::after {
  content: "";
  position: absolute;
  left: 40px;
  top: 50px;
  width: 220px;
  height: 8px;
  margin-top: -20px;
  margin-left: -20px;
  background-color: #ffc600;
  transition: 0.5s;
  z-index: -1000;
}

.slider-description .btn:hover::after {
  width: 220px;
  height: 40px;
  margin-top: -35px;
}

.btn:active {
  color: #ca9d00;
}

/*=============POPULAR-CARDS===================*/
/*=============================================*/

.popular {
  width: 1160px;
  margin-bottom: 98px;
}

.popular-items {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.popular ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-items li {
  width: 160px;
}

.popular-items a {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  text-decoration: none;
}

.popular-items .title {
  margin-top: 35px;
}

.popular-illustration {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
}

.popular-illustration::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: url("../img/popular-sprite.png") no-repeat;
}

.popular-1::before {
  background-position: 0 2px;
}

.popular-2::before {
  background-position: -158px 0;
}

.popular-3::before {
  background-position: -313px -10px;
}

.popular-4::before {
  background-position: -3px -155px;
}

.popular-5::before {
  background-position: -156px -166px;
}

.popular-6::before {
  background-position: -320px -169px;
}

.popular-illustration:hover,
.popular-illustration:active {
  background-color: #ffc600;
}

.popular-items a:hover .popular-illustration {
  background-color: #ffc600;
}

.popular-items a:active p.title,
.popular-items a:active .popular-illustration::before {
  opacity: 0.3;
}


/*==============SLIDER-2========================*/
/*==============================================*/

.services-slider {
  position: relative;
  width: 1160px;
  min-height: 390px;
  margin-bottom: 62px;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 402px;
  overflow: hidden;
}

.services-item h2 {
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.services-item p {
 width: 455px;
}

.services-item {
  display: none;
}

.services-item::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 42px;
  width: 185px;
  height: 198px;
  background: transparent url("../img/services-sprite.png") no-repeat;
}

.delivery-slide::after {
  background-position: -175px 12px;
}

.warranty-slide::after {
  background-position: -190px -207px;
}

.credit-slide::after {
  background-position: -13px -14px;
}


/*==========services buttons==========*/
.services-slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.services-btns {
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 169px;
  text-align: center;
}

.services-btns::after {
  content: "";
  position: absolute;
  top: -84px;
  right: -5px;
  width: 7px;
  height: 319px;
  background-color: #000;
}

.services-btns label {
  position: relative;
  width: 160px;
  padding-left: 8px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.services-btns label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 160px;
  height: 8px;
  background-color: #ffc600;
  transition: .5s;
  z-index: -10;
}

.services-btns label:active {
  color: #ffe27f;
}

.services-btns label:hover::before {
  width: 160px;
  height: 40px;
  margin-top: -15px;
}

.services-btns label:active::before {
  width: 278px;
  height: 40px;
  margin-top: -15px;
  background-color: #000;
}

#delivery:checked ~ .services-btns label[for="delivery"]::before,
#warranty:checked ~ .services-btns label[for="warranty"]::before,
#credit:checked ~ .services-btns label[for="credit"]::before {
  width: 278px;
  height: 40px;
  margin-top: -15px;
  background-color: #000;
}

#delivery:checked ~ .services-btns label[for="delivery"],
#warranty:checked ~ .services-btns label[for="warranty"],
#credit:checked ~ .services-btns label[for="credit"] {
  color: #ffe27f;
}


#delivery:checked ~ .services-slides .services-item:nth-child(1) {
  display: flex;
}

#warranty:checked ~ .services-slides .services-item:nth-child(2) {
  display: flex;
}

#credit:checked ~ .services-slides .services-item:nth-child(3) {
  display: flex;
}


/*=============PARTNERS===================*/
/*========================================*/

.partners {
  width: 1160px;
  height: 100px;
  margin-bottom: 102px;
}

.partners ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-logos {
 display: flex;
}

.partner-logo {
  position: relative;
  width: 260px;
  margin-right: 40px;
  opacity: 0.2;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.partner-logo:hover {
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0);
}

/*================INDEX-LAYOUT===============*/
/*===========================================*/

.index-content-layout {
  display: flex;
  justify-content: space-between;
}

.index-content {
  width: 1160px;
  margin-bottom: 176px;
}

.index-content-left {
  position: relative;
  width: 470px;
}

.index-content-left p {
  margin-bottom: 30px;
}

.index-content-right {
  position: relative;
  width: 560px;
}

.index-content-right p {
  margin-bottom: 39px;
}

.index-title {
  position: relative;
}

.index-title::before {
  content: "";
  position: absolute;
  top: -48px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.transport-companies {
  position: relative;
  padding: 0;
  margin:0;
  margin-top: 66px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  list-style: none;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 3px;
  height: 3px;
  margin-top: 15px;
  border: 3px solid #000;
  border-radius: 50%;
}

.index-content .btn {
  position: absolute;
  top: 530px;
  left: 0;
  width: 260px;
}

.index-content .btn::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 31px;
  width: 260px;
  height: 8px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #ffc600;
  transition: .5s;
  z-index: -1000;
}

.index-content .btn:hover::after {
  width: 260px;
  height: 40px;
  margin-top: -35px;
}

.index-content .btn a:active {
  opacity: 0.3;
}


/*========================CATALOG==============================*/
/*=============================================================*/
.catalog-bg::before {
  content: "";
  position: absolute;
  top: 404px;
  left: 0;
  z-index: -100;
  width: 250px;
  height: 1310px;
  background-color: #efefef;
}

.catalog-bg::after {
  content: "";
  position: absolute;
  top: 404px;
  left: 0;
  z-index: -1;
  opacity: 0.08;
  width: 100%;
  height: 70px;
  background-color: #000;
}

.main-header-var {
  position: relative;
  height: 211px;
}

.main-header-var a {
  color: #000;
  text-decoration: none;
}

.main-header-var::before {
  content: "";
  position: absolute;
  top:  40px;
  left: 0;
  width: 1160px;
  height: 185px;
  background-color: #ffe294;
  z-index: -1000;
}

.main-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.page-header {
  width: 1040px;
  margin-top: 16px;
  margin-bottom: 42px;
}

.page-header h1 {
  margin-left: 58px;
  margin-bottom: 18px;
}

/*=======breadcrumbs============*/
.breadcrumbs {
  width: 500px;
  margin-left: 59px;
}

.breadcrumbs ul {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.breadcrumbs li {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs .active:hover {
  opacity: 0.6;
}

.breadcrumbs .active:active {
  opacity: 0.1;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 4px;
  height: 7px;
  background: url("../img/icon-sprite.png") no-repeat -186px -52px;
}

.breadcrumbs li:first-child::after {
  right: 20px;
}

/*=============FILTER===========================*/
/*================grouping======================*/

.filter {
  position: relative;
  width: 328px;
  background-color: #efefef;
}

.filter-header {
  width: inherit;
  height: 50px;
  padding-top: 20px;
  background-color: #dddddd;
}

.filter-caption {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter .filter-caption {
  margin-left: 60px;
}

.filter-type {
  margin-right: 188px;
}

.filter-type a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  font-family: "OpenSans", sans-serif;
  opacity: 0.3;
  margin-right: 28px;
}

.filter-type a.active {
  opacity: 1;
}

.filter-type a:hover {
  opacity: 0.5;
}

.product-grouping {
  position: relative;
  display: flex;
  width: 832px;
  height: 50px;
  padding-top: 20px;
  margin-bottom: 69px;
  background-color: #ececec;
}

.product-grouping .filter-caption {
  margin-left: 74px;
  margin-right: 51px;
}

.grouping-btn {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.grouping-btn a {
  width: 17px;
  height: 9px;
  background: url("../img/icon-sprite.png") no-repeat -152px -151px;
  opacity: 0.2;
}

.down-btn {
  transform: rotate(180deg);
}

.grouping-btn .current {
  opacity: 1;
}

.up-btn:hover,
.down-btn:hover {
  opacity: 0.4;
}

.up-btn:active,
.down-btn:active {
  opacity: 1;
}

/*=======price-range============*/
.filter legend {
  font-size: 18px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
}

.filter label {
  cursor: pointer;
}

.range-filter {
  position: relative;
  width: 200px;
  height: 93px;
  padding: 0;
  padding-top: 45px;
  margin: 70px 0 12px 60px;
  border: none;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.range-filter legend {
  position: absolute;
  top: 7px;
  left: 0;
}

.range-controls {
  position: relative;
  height: 30px;
  padding-top: 24px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dcdcdc;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background-color: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: 17px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #efefef;
  cursor: pointer;
}

.toggle:active {
  border: 2px solid #fff;
  background-color: #62b005;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
  margin-top: -21px;
}

.price-controls label {
  font-size: 14px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  opacity: 0.2;
}

.price-controls input {
  position: relative;
  text-align: left;
  width: 75px;
  padding: 5px 3px;
  border: none;
  background-color: transparent;
}

/*=======colour-filter====================*/
.colour-filter {
  position: relative;
  width: 200px;
  height: 241px;
  padding: 0;
  padding-top: 30px;
  margin-left: 60px;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  border-bottom: 2px solid #000;
}

.colour-filter legend {
  position: absolute;
  top: -5px;
  left: 0;
}

.colour-filter ul {
  list-style: none;
  padding: 0;
}

.colour-filter li {
  position: relative;
  margin-bottom: 8px;
  padding-top: 2px;
  padding-left: 36px;
}

.colour-filter label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  background-color: #dcdcdc;
  cursor: pointer;
}

.colour-filter label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 3px;
  width: 12px;
  height: 7px;
  background: url("../img/icon-sprite.png") no-repeat -189px -151px;
  display: none;
}

#black:checked + label::after,
#white:checked + label::after,
#blue:checked + label::after,
#red:checked + label::after,
#pink:checked + label::after {
  display: block;
}

.colour-filter input {
  display: none;
}

.colour-filter label:hover::before {
  background-color: #cfcfcf;
}

.colour-filter label:active::before {
  background-color: #c5c5c5;
}

/*=====bluetooth-filter====================*/
.bluetooth-filter {
  position: relative;
  width: 200px;
  height: 170px;
  padding: 0;
  padding-top: 10px;
  margin-left: 60px;
  margin-bottom: -16px;
  border: none;
}

.bluetooth-filter legend {
  position: absolute;
  top: 7px;
  left: 0;
}

.bluetooth-filter ul {
  list-style: none;
  padding: 0;
  margin-top: 46px;
}

.bluetooth-filter li {
  position: relative;
  margin-bottom: 12px;
  padding-left: 38px;
}

.bluetooth-filter label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 19px;
  height: 19px;
  margin-top: 5px;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  background-color: #eeeeee;
}

.bluetooth-filter label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  display: none;
}

#yes:checked + label::after,
#no:checked + label::after {
  display: block;
}

.bluetooth-filter input {
  display: none;
}

.bluetooth-filter label:hover::before {
  border-color: #bdbdbd;
}

.bluetooth-filter label:active::before {
  border-color: #aeaeae;
}

/*=====submit-btn====================*/
.submit {
  position: relative;
}

.submit::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 78px;
  width: 200px;
  height: 8px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #ffc600;
  transition: 0.5s;
}

.filter-submit {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 5px 0;
  margin-left: 58px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.submit:hover::before {
  width: 200px;
  height: 40px;
  margin-top: -35px;
}

.filter-submit:active {
  opacity: 0.3;
}


/*=============CARDS===================*/
/*======================================*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 832px;
}

.product-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  margin-left: 40px;
  margin-bottom: 33px;
  overflow: hidden;
}

.product-item a {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 50px;
  padding-top: 36px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  text-decoration: none;
}

.price {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 95px;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
}

.product-new::after {
  content: "New";
  position: absolute;
  top: 45px;
  right: 40px;
  font-size: 14px;
  font-weight: 800;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  opacity: 0.2;
  text-transform: uppercase;
}

.product-new::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 28px;
  width: 55px;
  height: 55px;
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0.1;
}

.product-item .invisible {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(230, 230, 230, 0.7);
  display: none;
}

.invisible a.link {
  position: absolute;
  bottom: 105px;
  left: 106px;
  width: 160px;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000;
  opacity: 0.5;
}

.invisible a.link:hover {
  opacity: 1;
}

.invisible a.link:active {
  opacity: 0.2;
}

.invisible a.btn {
  position: absolute;
  top: 178px;
  left: 50px;
  padding: 0;
  letter-spacing: 3.5px;
}

.invisible a.btn::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 26px;
  width: 200px;
  height: 8px;
  margin-left: -20px;
  margin-top: -20px;
  transition: .5s;
  background-color: #ffc600;
  z-index: -1000;
}

.invisible a.btn:hover::after {
  width: 200px;
  height: 40px;
  margin-top: -35px;
}

.product-item:hover .invisible {
  display: block;
  cursor: pointer;
}


/*============PAGINATOR============*/
/*=================================*/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  height: 70px;
  margin: -12px 0 73px auto;
  background-color: #ebebeb;
}

.page-num {
  display: flex;
  justify-content: space-between;
  width: 82px;
  margin-right: 238px;
  margin-left: 240px;
}

.pagination a,
.pagination button {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  cursor: pointer;
}

.pagination a {
  opacity: 0.3;
  text-decoration: none;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination a:active {
  opacity: 1;
}

.pagination .current {
  opacity: 1;
}

.pagination button {
  width: 100px;
  height: 70px;
  text-transform: uppercase;
  background-color: #ebebeb;
  border: none;
}

.gallery-prev {
  text-align: right;
  padding-right: 1px;
}

.gallery-next {
  text-align: left;
}

.pagination button:hover {
  background-color: #dadada;
}

.pagination button:active {
  color: #acacac;
  background-color: #dadada;
}

/*============FOOTER=================*/
/*===================================*/

.main-footer {
  position: relative;
  color: #fff;
  background-color: #444;
}

.main-footer-layout {
  display: flex;
  justify-content: flex-end;
  padding-top: 65px;
  padding-bottom: 64px;
}

.footer-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 163px;
  height: 36px;
  background: url("../img/logo-sprite.png") no-repeat -15px -147px;
  cursor: pointer;
  display: none;
}

.footer-logo:active img {
  opacity: 0;
}

.footer-logo:hover::before {
  display: block;
}

.footer-logo:active::before {
  display: block;
  opacity: 0.3;
}

.footer-left {
  position: relative;
  width: 260px;
}

.footer-left p {
  padding-top: 5px;
}

.footer-left::after {
  content: "";
  position: absolute;
  top: 172px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}


/*======footer-middle=====*/
.footer-middle {
  width: 440px;
  margin-left: auto;
  padding-top: 68px;
  padding-right: 22px;
  text-align: center;
}

.services-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 57px;
}

.services-navigation a {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.services-navigation a:nth-child(3) {
  margin-right: -6px;
}

.services-navigation a:nth-child(2) {
  margin-right: 8px;
}

.social {
  display: flex;
  width: 200px;
  margin-left: 146px;
}

.social-btn {
  width: 40px;
  height: 39px;
  margin-right: 15px;
  font-size: 0;
  text-decoration: none;
  background: transparent url("../img/icon-sprite.png") no-repeat;
  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.social-btn-fb {
  background-position: -9px -9px;
}

.social-btn-inst {
  background-position: -69px -9px;
}

.social-btn-twit {
  background-position: -128px -10px;
}


/*====footer-right======*/
.footer-right {
  width: 338px;
  text-align: right;
}

.footer-right a {
  line-height: 36px;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer-right p {
  margin-right: -1px;
  margin-bottom: 60px;
}

.footer-right .user-block {
  display: flex;
  width: 327px;
  margin: 0;
  padding: 0;
  margin-top: -5px;
  margin-bottom: 33px;
  padding-left: 12px;
}

.footer-right .user-block a::after {
  top: 13px;
}

.footer-login {
  padding-left: 28px;
}

.footer-log-out {
  margin-right: 5px;
  padding-left: 25px;
}

.footer-log-out::after,
.footer-login::after {
  background: url("../img/icon-sprite.png") no-repeat -10px -178px;
}

.footer-log-out:hover::after,
.footer-login:hover::after {
  background: url("../img/icon-sprite.png") no-repeat -43px -178px;
}

.footer-compare {
  margin-left: 38px;
  padding-left: 22px;
}

.footer-compare::after {
  background: url("../img/icon-sprite.png") no-repeat -74px -68px;
}

.footer-compare:hover::after {
  background-position: -104px -68px;
}

.footer-cart {
  margin-left: 35px;
  padding-left: 23px;
}

.footer-cart::after {
  background: url("../img/icon-sprite.png") no-repeat -10px -68px;
}

.footer-cart:hover::after {
  background-position: -42px -68px;
}

.footer-right .user-block a:link {
  opacity: 0.7;
}

.footer-right .user-block a:hover {
  opacity: 1;
}

.footer-right .user-block a:active {
  opacity: 0.3;
}

.copyright {
  display: inline-block;
  align-self: flex-end;
  font-size: 0;
  width: 29px;
  height: 37px;
  text-decoration: none;
  background: transparent url("../img/icon-sprite.png") no-repeat -69px -120px;
}

.copyright:hover {
  background-position: -131px -66px;
}

.copyright:active {
  background-position: -131px -66px;
  opacity: 0.3;
}

/*=====POP-UPS============*/

@keyframes lift-up {
    0% { transform: translateY(400px); }
    100% { transform: translateY(0px); }
}

.modal-content {
  position: absolute;
  top: 1750px;
  left: 50%;
  width: 760px;
  padding: 90px 100px;
  padding-bottom: 79px;
  margin-left: -480px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 60px -10px rgba(0, 0, 0, 0.6);
  display: none;
}

.name,
.email {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 31px;
}

.write-us textarea {
  width: 760px;
  margin-bottom: 40px;
 }

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;
  background: #e9e5dc url("../img/map-big.jpg");
  box-shadow: 0 10px 60px -10px rgba(0, 0, 0, 0.6);
  z-index: 20;
  display: none;
}

.modal-content-show {
  display: block;
  animation: lift-up 0.6s;
}

.invalid {
  background-color: #ffb6b6;
  opacity: 0.5;
}

.modal-content-close {
  position: absolute;
  top: 22px;
  right: 21px;
  width: 55px;
  height: 55px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ffc600;
  opacity: 0.5;
  cursor: pointer;
}

.modal-content-close:hover {
  opacity: 1;
}

.modal-content-close::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 16px;
  width: 23px;
  height: 22px;
  background: url("../img/icon-sprite.png") no-repeat -186px -10px;
}

.modal-content-close:active::before {
  opacity: 0.5;
}

.write-us {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us label {
  font-size: 18px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  margin-bottom: 3px;
}

.red {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
  padding: 16px 20px;
  border: none;
  background-color: #e6e6e6;
  opacity: 0.5;
}

.red:hover {
  opacity: 0.8;
}

.red:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #e6e6e6;
  background-color: #fff;
  opacity: 1;
}


/*.write-us input[type="text"],
.write-us textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
  padding: 16px 20px;
  border: none;
  background-color: #e6e6e6;
  opacity: 0.5;
}*/


/*.write-us input[type="text"]:hover,
.write-us textarea:hover {
  opacity: 0.8;
}

.write-us input[type="text"]:focus,
.write-us textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #e6e6e6;
  background-color: #fff;
  opacity: 1;
}*/

/*.write-us input[type="text"]:invalid {
  background-color: #ffb6b6;
  opacity: 0.5;
}*/

/*BUTTON*/
.modal-submit {
  position: relative;
}

.modal-submit::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 20px;
  width: 200px;
  height: 8px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #ffc600;
  transition: 0.5s;
 }

.submit-btn {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
 }

 .modal-submit:hover::before {
  width: 200px;
  height: 40px;
  margin-top: -35px;
 }

 .submit-btn:active {
  opacity: 0.3;
 }
